# List Data Structure

In [2]:
# with list() function
l=list(range(0,10,2))
print(l)
print(type(l))

[0, 2, 4, 6, 8]
<class 'list'>

In [2]:
s='jai'
l=list(s)
print(l)

['j', 'a', 'i']

In [5]:
# with split functions
s = 'Learning python with jai'
l=s.split()
print(l)

['Learning', 'python', 'with', 'jai']

In [7]:
l=[1,2,3,4,5,6,7]
print(l)
l[2]=33
print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 33, 4, 5, 6, 7]

In [10]:
# Traversing the elements of List:
# 1. using while loop
l=[1,2,3,4,5,6,7]
i=0
while i<len(l):
    print(i)
    i +=1

0
1
2
3
4
5
6

In [12]:
# 1. using for loop
for i in l:
    print(i)

1
2
3
4
5
6
7

In [14]:
# to display element by index wise
l = ['a','b','c','d']
x = len(l)
for i in range(x):
    print(l[i],'postive index:',i,'and negativ index:',i-x)

a postive index: 0 and negativ index: -4
b postive index: 1 and negativ index: -3
c postive index: 2 and negativ index: -2
d postive index: 3 and negativ index: -1

In [16]:
 # To get information about list:
# 1. append() function:
# 2. insert() function:
# 3. extend() function:
# 4. remove() function:
# 5. pop() function:

n=[10,20,30,40,40,30,20]
print(len(n))
print(n.count(40))
print(n.index(20))

7
2
1

In [20]:
II. Manipulating elements of List:
list =[]
list.append(22)
list.append(33)
list.append('jai')
print(list)

[22, 33, 'jai']

In [22]:
# To add all elements to list upto 100 which are divisible by 10
l=[]
for i in range(101):
    if i%2==0:
        l.append(i)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [24]:
n=[1,2,3,4,5,6]
n.insert(2,33) #To insert item at specified index position
print(n)
n.insert(444,-1000)
print(n)

[1, 2, 33, 3, 4, 5, 6]
[1, 2, 33, 3, 4, 5, 6, -1000]

In [26]:
order1=["Chicken","Mutton","Fish"]
order2=["RC","KF","FO"]
order1.extend(order2) #To add all items of one list to another list
print(order1)
order1.extend("kaliflower") # here add this one add in list one by one
print(order1)

['Chicken', 'Mutton', 'Fish', 'RC', 'KF', 'FO']
['Chicken', 'Mutton', 'Fish', 'RC', 'KF', 'FO', 'k', 'a', 'l', 'i', 'f', 'l', 'o', 'w', 'e', 'r']

In [29]:
n=[10,20,20,30,40]
n.remove(20) #We can use this function to remove specified item from the list
print(n)

[10, 20, 30, 40]

In [31]:
# 5. pop() function:
# It removes and returns the last element of the list.
n=[10,20,20,30,40]
print(n.pop(0))
print(n.pop())
print(n)

10
40
[20, 20, 30]

In [34]:
# III. Ordering elements of List:
n=[10,20,30,40]
n.reverse()
print(n)
n=[10,40,50,20,30]
n.sort()
print(n)

[40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [36]:
n=[10,20,50,40,30]
n.sort()
print(n)
n.sort(reverse=True)
print(n)
n.sort(reverse=False)
print(n)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [38]:
x=[10,20,50,40,30]
y=x
print(id(x))
print(id(y))
y[0]=333
print(x)
print(id(x))
print(id(y))

140130437224904
140130437224904
[333, 20, 50, 40, 30]
140130437224904
140130437224904

In [41]:
#nested list as matrix
n=[[10,20,30],[40,50,60],[70,80,90]]
print(n)
print('print element row wise')
for i in n:
    print(i)

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
print element row wise
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [43]:
print("Elements by Matrix style:")
for i in range(len(n)):
    for j in range(len(n[i])):
        print(n[i][j],end=' ')
    print()

Elements by Matrix style:
10 20 30
40 50 60
70 80 90

In [45]:
# List comprehensions:
# only work on thes type of data types :list,tuple,dictionary,range
lc=[i*i for i in range(1,11)]
print(lc)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
words = ['jai','jaya','chaya']
lc=[w[0] for w in words]
print(lc)

['j', 'j', 'c']

In [49]:
num1=[1,2,3,4]
num2=[3,4,5,6]
lc=[i for i in num1 if i not in num2]
print(lc)
num4=[i for i in num1 if i in num2]
print(num4)

[1, 2]
[3, 4]

In [51]:
words = ['jai','jaya','chaya']
lc = [[w.upper(),len(w),w.title()] for w in words]
print(lc)

[['JAI', 3, 'Jai'], ['JAYA', 4, 'Jaya'], ['CHAYA', 5, 'Chaya']]

# Tuple Data Structure

In [54]:
t=10,20,30,40
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

### Note: We have to take special care about single valued tuple.compulsary the value should ends with comma,otherwise it is not treated as tuple.

In [61]:
t=(10)
print(t)
print(type(t))

10
<class 'int'>

In [65]:
# By using tuple() function:
list = [10,20,30]
t=tuple(list)
print(t)
print(type(t))

t = tuple(range(10,20,2))
print(t)

(10, 20, 30)
<class 'tuple'>
(10, 12, 14, 16, 18)

In [70]:
# Accessing elements of tuple
# By using index:
t=(10,20,30,40)
print(t[0])
print(t[-1])
print(t[100])

10
40

IndexError: tuple index out of range

In [74]:
t=(10,20,30,40,50,60)
print(t[2:5])
print(t[2:100])
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

In [75]:
# Tuple vs immutability:
t=(10,20,30,40)
t[0]=50
print(t)

TypeError: 'tuple' object does not support item assignment

In [1]:
# Mathematical operators for tuple:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

t4=t1*3
print(t4)

t5=(10,20,30,40)
print(sorted(t5,reverse=True))

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30, 10, 20, 30)
[40, 30, 20, 10]

# Important functions of Tuple:
1. len()
To return number of elements present in the tuple
2. count()
To return number of occurrences of given element in the tuple
3. index()
returns index of first occurrence of the given element.
4. sorted()
To sort elements based on default natural sorting order
5. min() and max() functions:t
To find max and min between two numbers.

In [2]:
t=(10,120,30,40)
print(len(t))

4

In [6]:
t=(10,120,30,40)
print(t.count(40))

1

In [8]:
t=(10,120,30,40)
print(t.index(30))

2

In [12]:
t=(10,120,30,40)
print(sorted(t,reverse=False))

[10, 30, 40, 120]

In [14]:
t=(10,120,30,40)
print('max values',max(t),'min values',min(t))

max values 120 min values 10

# ##Tuple Packing and Unpacking:

In [18]:
a,b,c,d=10,20,30,40
t=a,b,c,d
print(t) #Here a,b,c,d are packed into a tuple t. This is nothing but tuple packing.

(10, 20, 30, 40)

In [22]:
#Tuple unpacking is the reverse process of tuple packing
#We can unpack a tuple and assign its values to different variables
t=(10,20,30,40)
a,b,c,d=t
print(a,b,c,d)
# Note: At the time of tuple unpacking the number of variables and number of values
# should be same.
# ,otherwise we will get ValueError

10 20 30 40

In [24]:
t=(10,20,30,40)
a,b,c=t
print(a,b,c)

ValueError: too many values to unpack (expected 3)

In [28]:
# Tuple Comprehension:
# Tuple Comprehension is not supported by Python.
t=(i**2 for i in range(1,6))
print(type(t))
for x in t:
    print(x)

<class 'generator'>
1
4
9
16
25

In [34]:
# Wap to take a input as tuple form the keyboard and print sum and avg 
t=eval(input('Enter tuple any no of range:'))
l1=len(t)
sum=0
for i in t:
    sum += i
avg=sum/l1
print('Sum of no:',sum,'and average is :',avg)

Enter tuple any no of range:(10,20,30,40)
Sum of no: 100 and average is : 25.0

# Set Data Structure

In [37]:
# Creation of Set objects:
s={10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [39]:
l=[10,20,30,40]
l1=set(l)
print(s)
print(type(l1))

{40, 10, 20, 30}
<class 'set'>

In [41]:
# just for checking purpose list,tuple,set dict
l=10,203,4,30,4
l1=list(l)
print(l1)
print(type(l1))
'''----------------------------'''
l=10,203,4,30,4
l1=tuple(l)
print(l1)
print(type(l1))
'''----------------------------'''
l=10,203,4,30,4
l1=set(l)
print(l1)
print(type(l1))

[10, 203, 4, 30, 4]
<class 'list'>
(10, 203, 4, 30, 4)
<class 'tuple'>
{10, 203, 4, 30}
<class 'set'>

In [50]:
s=set(range(1,10))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
s={}
print(s)
print(type(s)) #s={} ==>It is always consider as dictionary but not empty set.

{}
<class 'dict'>

In [63]:
# Important functions of set:
s={10,20,30,40}
s.add(60)
print(s,"and it's type:",type(s))

{40, 10, 20, 60, 30} and it's type: <class 'set'>

In [67]:
s={10,20,30}
l=[40,50,60,10]
s.update(l)
print(s)

{40, 10, 50, 20, 60, 30}

In [69]:
s={10,20,30}
s1=s.copy()
print(s)
print(s1)

{10, 20, 30}
{10, 20, 30}

In [76]:
# 4. pop():
# It removes and returns some random element from the set.
s={10,20,30}
print(s)
print(s.pop())
print(s)

{10, 20, 30}
10
{20, 30}

In [79]:
# 5. remove(x): It removes specified element from the set.
s={10, 20, 30}
s.remove(30)
print(s)
s.remove(s[1])
print(s)

{10, 20}

TypeError: 'set' object does not support indexing

In [84]:
# # 6. discard(x):
# t removes the specified element from the set.
# If the specified element not present in the set then we won't get any error but remove get error's.
s={10,20,30,40}
print(s)
s.discard(50)
print(s)
s.discard(20)
print(s)

{40, 10, 20, 30}
{40, 10, 20, 30}
{40, 10, 30}

In [86]:
# 7.clear():
# To remove all elements from the Set.
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

In [89]:
# # Mathematical operations on the Set
# x.union(y) ==>We can use this function to return all elements present in both sets
# x.union(y) or  x|y
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [91]:
# 2. intersection():
# x.intersection(y) or x&y
# Returns common elements present in both x and y
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

In [94]:
# 3. difference():
# x.difference(y) or x-y
# returns the elements present in x but not in y
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)
print(y-x)

{10, 20}
{10, 20}
{50, 60}

In [96]:
# 4.symmetric_difference():
# x.symmetric_difference(y) or x^y
# Returns elements present in either x or y but not in both
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)
print(y^x)

{10, 50, 20, 60}
{10, 50, 20, 60}
{10, 50, 20, 60}

In [98]:
# Membership operators: (in , not in)
s=set("maya")
print(s)
print('y' in s)
print('z' in s)

{'a', 'm', 'y'}
True
False

In [100]:
s={10, 50, 20, 60}
s[0]=50
print(s)

TypeError: 'set' object does not support item assignment

In [104]:
# Set Comprehension:
s={i*2 for i in range(1,20)}
print(s)

{32, 2, 34, 4, 36, 6, 38, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}

In [108]:
## Note : set objects won't support indexing and slicing

# Q.Write a program to remove duplicates elements present in the list?
l=eval(input("Enter List of values: "))
s=set(l)
print(s)

Enter List of values: 10,20,102,301,10,20,
{10, 20, 301, 102}

In [7]:
# second method for removing duplicate elements from list and set anythings
l=eval(input("Enter List of values: "))
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)

Enter List of values: 10,20,40,50,10,20,30
[10, 20, 40, 50, 30]

# Dictionary Data Structure

In [9]:
# indexing and slicing concepts are not applicable
# d={} or d=dict()
# we are creating empty dictionary.
d={}
d[1]='jai'
d[2]='jaya'
print(d)

{1: 'jai', 2: 'jaya'}

In [13]:
# How to access data from the dictionary.
d={1:'rana',2:"ram",3:'shyam'}
print(d[1])
print(d[3])

rana
shyam

In [5]:
rec={}
n=int(input("Enter no of students:"))
i=1
while i<=n:
    name=input('Enter student name:')
    marks=int(input("Enter students marks:"))
    rec[name]=marks
    i+=1
for x in rec:
    print(x,rec[x])

Enter no of students:2
Enter student name:nikhil
Enter students marks:60
Enter student name:shyam
Enter students marks:60
nikhil 60
shyam 60

In [7]:
# # How to update dictionaries
# # d[key]=value
# If the key is not available then a new entry will be added to the dictionary with the
# specified key-value pair
# If the key is already available then old value will be replaced with new value.
d={100:'rana',201:'ravi',301:"shyam"}
print(d)
d[401]='nikhil'
print(d)
d[100]='rani'
print(d)

{100: 'rana', 201: 'ravi', 301: 'shyam'}
{100: 'rana', 201: 'ravi', 301: 'shyam', 401: 'nikhil'}
{100: 'rani', 201: 'ravi', 301: 'shyam', 401: 'nikhil'}

In [10]:
# How to delete elements from dictionary?
# del d[key]
d={100:'rana',201:'ravi',301:"shyam"}
del d[100]
print(d)
del d[401]
print(d)

{201: 'ravi', 301: 'shyam'}

KeyError: 401

In [12]:
d={100:'rana',201:'ravi',301:"shyam"}
print(d)
d.clear()
print(d)

{100: 'rana', 201: 'ravi', 301: 'shyam'}
{}

In [21]:
# 1. dict():
# To create a dictionary
# d=dict() ===>It creates empty dictionary
# d=dict({100:"durga",200:"ravi"}) ==>It creates dictionary with specified elements
# d=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])==>It creates dictionary with the given
# list of tuple elements

d={}
print(d)
d=dict({101:'shyam',102:'rana',103:'ram'})
print(d)
d1=dict([(101,'krishna'),(102,'hulk'),(103,'ironman')])
print(d1)

{}
{101: 'shyam', 102: 'rana', 103: 'ram'}
{101: 'krishna', 102: 'hulk', 103: 'ironman'}

In [69]:
# len():
# Returns the number of items in the dictionary
# clear():
# To remove all elements from the dictionary
# get():
# To get the value associated with the key
# d.get(key)
# If the key is available then returns the corresponding value otherwise returns None.It
# wont raise any error
# d.get(key,defaultvalue)
# If the key is available then returns the corresponding value otherwise returns default
# value.
d={101: 'krishna', 102: 'hulk', 103: 'ironman'}
print(d[101])
print(d.get(102))
print(d.get(104))
print(d.get(102,'hulk'))
print(d.get(102,'test'))
print(d)

krishna
hulk
None
hulk
hulk
{101: 'krishna', 102: 'hulk', 103: 'ironman'}

In [27]:
# pop():
# d.pop(key)
# It removes the entry associated with the specified key and returns the corresponding
# value
# If the specified key is not available then we will get KeyError
d={101: 'krishna', 102: 'hulk', 103: 'ironman'}
print(d.pop(101))
print(d)

krishna
{102: 'hulk', 103: 'ironman'}

In [31]:
#  popitem():
# It removes an arbitrary item(key-value) from the dictionaty and returns it.
d={101: 'krishna', 102: 'hulk', 103: 'ironman'}
print(d)
print(d.popitem())

{101: 'krishna', 102: 'hulk', 103: 'ironman'}
(103, 'ironman')

In [40]:
# keys():
# It returns all keys associated eith dictionary
d={101: 'krishna', 102: 'hulk', 103: 'ironman'}
print(d.keys())
for i in d.keys():
    print(i)
for i in d.values():
    print(i)

dict_keys([101, 102, 103])
101
102
103
krishna
hulk
ironman

In [43]:
# items():
# It returns list of tuples representing key-value pairs.
# [(k,v),(k,v),(k,v)]
d={101: 'krishna', 102: 'hulk', 103: 'ironman'}
for k,v in d.items():
    print('keys is :',k,'and values is:',v)

keys is : 101 and values is: krishna
keys is : 102 and values is: hulk
keys is : 103 and values is: ironman

In [52]:
# d.setdefault(k,v)
d={101: 'krishna', 102: 'hulk', 103: 'ironman'}
print(d.setdefault(104,'shyam'))
print(d)
print(d.setdefault(101,'ram'))
print(d)

shyam
{101: 'krishna', 102: 'hulk', 103: 'ironman', 104: 'shyam'}
krishna
{101: 'krishna', 102: 'hulk', 103: 'ironman', 104: 'shyam'}

In [57]:
# Q. Write a program to take dictionary from the keyboard and print the sum
# of values?
d=eval(input('Enter dict values and some those values:'))
s=sum(d.values())
print('sum is:',s)

Enter dict values and some those values:{'b':101,'c':110}
sum is: 211

In [71]:
# Q. Write a program to find number of occurrences of each letter present in
# the given string?
strings=input("Enter any strings:")
d={}
for x in strings:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print('no of occurence is:',k,'and no of time repetions:',v)

Enter any strings:this is the
no of occurence is: t and no of time repetions: 2
no of occurence is: h and no of time repetions: 2
no of occurence is: i and no of time repetions: 2
no of occurence is: s and no of time repetions: 2
no of occurence is:   and no of time repetions: 2
no of occurence is: e and no of time repetions: 1

In [78]:
# Q. Write a program to find number of occurrences of each vowel present in
# the given string?

words=input('Enter any string to check:')
vowles ={'a','e','i','o','u'}
d={}

for x in words:
    if x in vowles:
        d[x]=d.get(x,0)+1  
for k,v in d.items():
    print('vowles are:',k,'no of thimes:',v)

Enter any string to check:this is the python 3.7
vowles are: i no of thimes: 2
vowles are: e no of thimes: 1
vowles are: o no of thimes: 1

In [87]:
# Dictionary Comprehension:
# Comprehension concept applicable for dictionaries

d={i*2 for i in range(1,20)}
print(d)
print(type(d))

d={i:i*3 for i in range(1,20)}
print(d)
print(type(d))

{32, 2, 34, 4, 36, 6, 38, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}
<class 'set'>
{1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30, 11: 33, 12: 36, 13: 39, 14: 42, 15: 45, 16: 48, 17: 51, 18: 54, 19: 57}
<class 'dict'>